.subjects th span {
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.flex {
  display: flex;
}

@page {
  size: landscape;
  margin: 10rem;
}

.name-and-logo {
  justify-content: space-around;
}
