.subjects {
  font-size: .8rem;

  th span {
    writing-mode: vertical-lr;
    white-space: nowrap;
  }
}

.rules {
  display: flex;
  align-items: center;
  font-size: .9rem;
}

.flex {
  display: flex;
}

.name-and-logo {
  justify-content: space-around;

  h1 {
    font-size: 1.7rem;
  }

  .cite {
    font-size: 1.2rem;
  }
}

.logo {
  width: 90px;
}
