@import "styles/var";

#container {
  height: 100vh;

  &.loading {
    height: calc(100vh - 4px);
  }
}

$link-color: #4787ed;
.sidebar {
  width: calc(100vw - 80px);
  border: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);

  $border-color: #ebeef5;

  a {
    text-shadow: 0 0;
    background: #fff;
    color: $--wif-primary-color;
    border-bottom: 1px solid $border-color;

    &:first-child {
      border-top: 1px solid $border-color;
    }

    &:hover {
      color: $link-color !important;
      background: transparentize(#4787ed, 0.9);
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

header {
  display: grid;
  padding: 40px 15px 15px;
  background: $--wif-primary-color;
  color: #fff;
  text-shadow: 0 0 2px #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.notice {
  margin: auto 15px 20px 15px;
  font-weight: bold;

  &:before {
    content: 'বিদ্রঃ';
    color: red;
  }
}

small {
  font-size: .75rem;
  display: block;
  text-align: center;
  padding: 0 0 10px 0;
}

.logo {
  width: 80px;
}

.title {
  font-size: 1.2rem;
}

.mobile-header {
  .logo {
    height: calc(100% - 10px);
    width: auto;
  }

  border-bottom: 1px solid lighten($--wif-primary-color, 10);
}

@media all and (min-width: $--wif-md) {
  .logo {
    width: 100px;
  }

  .sidebar {
    width: 410px;
  }

  .title {
    font-size: 1.6rem;
  }

  .mobile-header {
    display: none;
  }
}

.active-link {
  color: $link-color !important;
  background: transparentize(#4787ed, 0.8) !important;
}
